html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
}

html {
	overflow: hidden;
}

.group {
	padding-top: 6px;
	padding-right: 8px;
}

.brand span {
	color: red;
}

.head, .foot, .middle, .bottom, .middlehead, .splitter {
	position: absolute;
	width: 100%;
	left: 0;
}

.middlehead {
	top: 140px;
	height: 26px;
	margin-left: 8px;
}

.middle {
	top: 168px;
	height: 200px;
	margin-left: 8px;
}

.splitter {
	top: 370px;
	height: 4px;
	width: 100%;
	border: 1px solid #C3D3DA;
	background-color: red;
	cursor: n-resize;
}

.bottom {
	top: 378px;
	bottom: 60px;
	border: 1px solid #C3D3DA;
	width: 99%;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
}

#pdf {
	height: 100%;
	width: 100%;
	border: 1px solid #C3D3DA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.head {
	height: 70px;
	padding: 8px;
	top: 0;
}

.foot {
	height: 50px;
	bottom: 0;
}

.left {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.right {
	width: 49%;
	height: 100%;
	display: inline-block;
}

.texthead {
	padding: 4px 8px 8px 8px;
	float: left;
}

textarea {
	padding: 8px 8px 8px 8px;
	resize: none;
	width: 100%;
	min-width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.foot button {
	margin: 8px;
	float: left;
}

#status {
	float: left;
	margin: 8px;
	display: none;
}

#langs_chzn, #langs_chzn .chzn-single {
	height: 24px !important;
}

.btn-custom {
	height: 26px !important;
}
