html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
	font-family:"Helvetica Neue",Arial,sans-serif;
}

html {
	overflow: hidden;
}

.group {
	padding-top: 12px;
	padding-right: 4px;
	padding-left: 4px;
}

.logo {
	display: inline-block;
	height:50px;
	width:50px;
}

.nav-top {
	margin-left: 20px !important;
}

.head, .foot, .middle, .bottom, .middlehead, .splitter {
	position: absolute;
	width: 98%;
	left: 10px;
}
.bottom {
	position: absolute;
	left: 20px;
	width: 97%;
}

.middlehead {
	top: 74px;
	height: 34px;
	margin-left: 8px;
}

.middle {
	top: 108px;
	height: 200px;
	margin-left: 8px;
}

.bottom {
	top: 316px;
	bottom: 60px;
	border: 1px solid #C3D3DA;
	text-align: center;
}

.popover {
	border: 0 !important;
}

.popover-title {
	border: 1px solid #C3D3DA;
}

.popover-content {
	border: 1px solid #C3D3DA;
	background-color: white;
}

#pdf {
	height: 100%;
	width: 99%;
	left: 10px;
}

.head {
	height: 70px;
	padding: 8px;
	top: 0;
}

.foot {
	height: 60px;
	bottom: 0;
}

.border {
	border: 1px solid #C3D3DA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.left {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.right {
	width: 49%;
	height: 100%;
	display: inline-block;
}

.texttools {
	height: 40px;
	background-color: #ededed;
}

.textbuttons {
	margin-top: 2px !important;
	margin-right: 2px !important;
}

.texthead {
	margin-top: 3px;
	padding: 4px 8px 8px 8px;
	float: left;
}

textarea {
	padding: 8px 8px 8px 8px;
	resize: none;
	width: 100%;
	min-width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.foot button {
	margin: 8px;
	float: left;
}

.bottom .btn {
	margin-top: 8px;
}

#status {
	float: left;
	margin: 8px;
	display: none;
}

#langs_chzn, #langs_chzn .chzn-single {
	height: 26px !important;
}

#fetch-text {
	margin-top: 2px;
}

.combocontainer {
	margin-top: 2px;
	float: left;
	height: 28px !important;
}

.btn-custom {
	height: 28px !important;
	float: left;
	margin-top: 0;
}
