html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	color: #000;
	background-color: #fff;
}

html {
	overflow: hidden;
}

.group {
	padding-top: 6px;
	padding-right: 8px;
}

.brand span {
	color: red;
}

#pagenr {
	height: 16px !important;
}

#head, #foot, #middle {
	position: absolute;
	width: 100%;
	left: 0;
}

#middle {
	top: 70px;
	bottom: 50px;
}

#head {
	height: 70px;
	padding: 8px;
	top: 0;
}

#foot {
	height: 50px;
	bottom: 0;
}

#left {
	width: 50%;
	height: 100%;
	display: inline-block;
}

#right {
	width: 50%;
	height: 100%;
	display: inline-block;
}

.texthead {
	position: absolute;
	margin: 2px;
	padding-left: 8px;
	padding-top: 4px;
	width: 50%;
	border-bottom: solid #dff0d8;
}

textarea {
	padding: 28px 8px 8px 8px;
	resize: none;
	width: 100%;
	min-width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#foot button {
	margin: 8px;
	float: left;
}

#status {
	float: left;
	margin: 8px;
	display: none;
}
